/*Positionnement des planetes*/

.content-planet {
  position: relative;
  padding: 0px;
  width: 100%;
  height: 100%;
}

.status .done,
.status .todo {
  display: inline-block;
  width: 30px;
  height: 100%;
  left: 0px;
  position: absolute;
  border: solid 2px;
}
.status .done {
  background: linear-gradient(to bottom, grey 20%, green 80%);
}

.status .todo {
  background: linear-gradient(to bottom, grey 100%, green 0%);
}
/*Progress Bar Planet Levels*/

.content-planet {
  display: flex;
}

@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/*Boutton planète */
#planetclick {
  padding: 0;
  border: none;
  background: none;
}
