.contentQuizz {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-image: url("https://images.unsplash.com/photo-1467685790346-20bfe73a81f0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
  background-size: cover;
}

.titleQuizz {
  color: #0a0a0a;
  text-shadow: 1px 1px 2px gold, 1px -1px 2px gold, -1px 1px 2px gold,
    -1px -1px 2px gold;
  letter-spacing: 3px;
  font-family: "StarJedi";
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.questionQuizz {
  background-color: #000000b3;
  border-radius: 20px;
  padding: 20px;
  color: aliceblue;
  font-weight: 700;
  border: 2px solid gold;
  text-transform: uppercase;
}


<<<<<<< HEAD:src/components/Quizz/Quizz.css
.test {
  color: aliceblue;
}

=======
>>>>>>> sauvegarde + indentation avant PR:src/Components/Quizz/Quizz.css
@keyframes text-focus-in {
  0% {
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}
