.contentQuizz {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-image: url("http://blogs.discovermagazine.com/outthere/files/2019/07/cme_lg-1024x674.jpg");
  background-size: cover;
}


.titleQuizz {
  color: #0a0a0a;
  text-shadow: 1px 1px 2px gold, 1px -1px 2px gold, -1px 1px 2px gold,
    -1px -1px 2px gold;
  letter-spacing: 3px;
  font-family: "StarJedi";
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.questionQuizz {
  background-color: #000000b3;
  border-radius: 20px;
  padding: 20px;
  color: aliceblue;
  font-weight: 700;
  border: 2px solid gold;
  text-transform: uppercase;
}

.zoneReponse {
  border-radius: 20px;
}


@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
