.proposition {
  background-color: #0004046b;
  border-radius: 20px;
  border: black 3px solid;
  padding: 10px;
  color: aliceblue;
  font-weight: 500;
  display: block;
  margin: 10px;
  text-transform: uppercase;
}
.proposition:hover {
  background-color: #3ce2f12c;
}

.buttonQuizz {
  padding: 10px 20px;
  background-color: #0004046b;
  width: 60%;
  align-self: center;
  border-radius: 20px;
  margin: 25px;
  font-weight: 700;
  font-size: 1.2rem;
  border: 0px;
  font-family: "StarJedi";
  text-shadow: 1px 1px 2px gold, 1px -1px 2px gold, -1px 1px 2px gold,
    -1px -1px 2px gold;
}
.buttonQuizz:hover {
  background-color: #e6350d7a;
  color: black;
}

.champReponse {
  position: absolute;
  left: -9999px;
}

.champReponse:checked + label {
  background-color: rgb(16, 14, 19);
  color: gold;
}
