/*Positionnement des planetes*/

.planets{
    width: 65px;
    -webkit-animation: rotate-center 25s linear infinite both;
    animation: rotate-center 25s linear infinite both;
}

.content-planet {
    position: relative;
    padding:0px;
    padding-top: 2.5%;
}

.status .done,
.status .todo {
    display: inline-block;
    width: 30px;
    height: 100%;
    left: 0px;
    position: absolute;
    border: solid 2px;
    
}
.status .done {
    background: green;

}
  
.status .todo {
    background:grey 
}

.content-planet{
    display: flex;
}
.content-planet:nth-child(1){
    padding-left: 30%;
}
.content-planet:nth-child(2){
    padding-left: 50%;
}
.content-planet:nth-child(3){
    padding-left: 70%;
}
.content-planet:nth-child(4){
    padding-left: 50%;
}
.content-planet:nth-child(5){
    padding-left: 28%;
}
.content-planet:nth-child(6){
    padding-left: 15%;
}
.content-planet:nth-child(7){
    padding-left: 35%;
}
.content-planet:nth-child(8){
    padding-left: 50%;
}



@-webkit-keyframes rotate-center {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  @keyframes rotate-center {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
/*Boutton planète */
#planetclick{
    padding: 0;
    border: none;
    background: none;
}


  
/*Media Query Tablette */
@media screen and (min-width: 768px){
.planets{
    width: 110px;

}

.content-planet:nth-child(1){
    padding-left: 30%;
}
.content-planet:nth-child(2){
    padding-left: 50%;
}
.content-planet:nth-child(3){
    padding-left: 70%;
}
.content-planet:nth-child(4){
    padding-left: 50%;
}
.content-planet:nth-child(5){
    padding-left: 28%;
}
.content-planet:nth-child(6){
    padding-left: 15%;
}
.content-planet:nth-child(7){
    padding-left: 35%;
}
.content-planet:nth-child(8){
    padding-left: 50%;
}
  
}
@media screen and (min-width: 1025px) and (max-width: 1280px) {
.content-planet{
    display: flex;
    flex-direction: row;
}
.content-planet:hover{
    transform: scale(1.2);
    transition: transform .2s;
    
}
.planets{
    width: 150px;
}
    
}

