.ul-nav {
  box-shadow: 10px 14px 39px 9px rgba(0,0,0,0.76);
  text-align: center;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  background-color: #181a1fbd;
  margin-bottom: 0px;
  position: fixed;
  z-index: 1;
  width: 100%;
  padding-left: 0px;
  padding-bottom: 30px;
}

.gameTitle{
  font-size: 3vh;
  margin-top: 3%;
  font-family: "StarJedi";
  text-shadow: 1px 1px 2px gold, 1px -1px 2px gold, -1px 1px 2px gold,
    -1px -1px 2px gold;
}

.cadet-name-nav {
  text-transform: uppercase;
  font-size: 2.5vh;
  margin-top: 3%;
  font-weight: bolder;
  align-self: center;
  color: white;
  text-shadow: 1px 1px 2px rgb(26, 23, 10), 1px -1px 2px rgb(10, 10, 10), -1px 1px 2px rgb(0, 0, 0),
    -1px -1px 2px rgb(0, 0, 0);
    margin-bottom:10px;
}

.icon{
  margin-right: 10px;
  color:black;
  text-shadow: 1px 1px 2px gold, 1px -1px 2px gold, -1px 1px 2px gold,
    -1px -1px 2px gold;
}


@media screen and (min-width: 767px) {
  .gameTitle {
    font-size: 4vh;
    margin-top: 3%;
    font-family: "StarJedi";
    text-shadow: 1px 1px 2px gold, 1px -1px 2px gold, -1px 1px 2px gold, -1px -1px 2px gold;
}
}
@media (min-width: 1200px) {
  .ul-nav {
    position: fixed;
    flex-direction: row;
    justify-content: space-around;
  }
  .cadet-name-nav {
    margin-left: 3%;
    font-size: 2.5vh;
    margin-bottom: 3%;
  }

}
