.starsHalf {
  background-position: -38px 0;
  background-image: url(https://static.aliasdmc.fr/img/widgets/review.png);
  background-repeat: no-repeat;
  cursor: pointer;
  display: block;
  float: left;
  height: 36px;
  overflow: hidden;
  text-indent: 999px;
  width: 36px;
}

.starsEmpty {
  background-position: -76px 0;
  background-image: url(https://static.aliasdmc.fr/img/widgets/review.png);
  background-repeat: no-repeat;
  cursor: pointer;
  display: block;
  float: left;
  height: 36px;
  overflow: hidden;
  text-indent: 999px;
  width: 36px;
}

.starsFull {
  background-image: url(https://static.aliasdmc.fr/img/widgets/review.png);
  background-repeat: no-repeat;
  cursor: pointer;
  display: block;
  float: left;
  height: 36px;
  overflow: hidden;
  text-indent: 999px;
  width: 36px;
}

.divStars {
  align-self: center;
  padding: 0px;
}

.selectDifficulty {
  align-self: center;
  background-color: #191818a8;
  color: gold;
  font-weight: bold;
  font-size: 1.2rem;
  text-transform: uppercase;
  border: none;
  appearance: none;
  padding: 0.6em 1.4em 0.5em 0.8em;
  border-radius: 10px;
}

.selectDifficulty:-internal-list-box {
  background-color: red;
}

.difficulty-label {
  color:white
}
